<!--
    
    Bootstrap Labels and Badges
    ---------------------------------------------------------
    The label component is useful for providing important additional information

    ! use badge, badge-secondary


-->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light">
                <h2>Dot Net Courses from PragimTech</h2>
                <hr />
                <h6>C# <span class="badge bg-secondary">Beginner</span></h6>
                <h6>ASP.NET <span class="badge bg-secondary">Intermediate</span></h6>
                <h6>ADO.NET <span class="badge bg-secondary">Advanced</span></h6>
                <h6>Bootstrap <span class="badge bg-secondary">New</span></h6>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light">
                <h1>Example heading <span class="badge bg-danger">New</span></h1>
                <h2>Example heading <span class="badge bg-secondary">New</span></h2>
                <h3>Example heading <span class="badge bg-primary">New</span></h3>
                <h4>Example heading <span class="badge bg-success">New</span></h4>
                <h5>Example heading <span class="badge bg-warning">New</span></h5>
                <h6>Example heading <span class="badge bg-dark">New</span></h6>
            </div>
        </div>
    </div>
    <br />
    <br />


    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary">
                Profile <span class="badge badge-light">9</span>
                <span class="sr-only">unread messages</span>
            </button>
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary position-relative">
                Inbox
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    99+
                    <span class="visually-hidden">unread messages</span>
                </span>
            </button>
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary position-relative">
                Profile
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
            </button>
        </div>
    </div>
    <br />
    <br />
    
</div>