<!--

    Bootstrap Icons
    --------------------------------------------------

    ! Glyphicons were dropped v4 and later
    https://stackoverflow.com/questions/49905458/glyphicon-not-working-in-bootstrap-version-4-1-and-later
    > you can use "font awesome"

    Bootstrap icons are
    > Provided by Glyphicons
    > There are over 250 glyphs
    > as glyphicons are font based, their color and size automatically adjusts to the element
      color and size on which it is being used

    Glyphicons
    https://getbootstrap.com/docs/3.3/components/


-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br />

            <button>Search</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <br />

            <button><span class="glyphicon glyphicon-search"></span>Search</button>

            <br />
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                Thing
            </button>

            <br />
            <p>
                Star-empty icon on a button:
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-align-left"></span> Star
                </button>
            </p>

            <br />
            <input type="text" placeholder="First Name" runat="server" id="txtFirstName" value="" aria-describedby="inputSuccess2Status" class="form-control" maxlength="30" />
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputSuccess2Status" class="sr-only">(success)</span>
        </div>
    </div>
</div>