<!--

    Bootstrap Image Gallary
    -----------------------------------------
    Some of the image classes that we already discussed (part 5)

    Bootstrap Image Class                       Description
    img-responsive                              makes an image responsive
    img-circle                                  styles the image as a circle
    img-thumbnail                               styles the image as a thumbnail
    img-rounded                                 styles the image with rounded corners

    pull-left                                   image pulled to the left and the text will then flow around the image
    pull-right                                  image pulled to the right and the text will then flow around the image
    center-block                                the image will be centered

    img-responsive is in bootstrap5 img-fluid

    * these are now float-right and float-left
    <img src="~/images/macbook.jpg" class="float-right" />
-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="~/images/macbook.jpg" class="img-fluid img-thumbnail float-right customThumbImage" />
            
            <div>
                Bootstrap is a free, open course and is the most popular HTML, CSS, and JavaScript Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div>
                Bootstrap is a free, open course and is the most popular HTML, CSS, and JavaScript Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div>
                Bootstrap is a free, open course and is the most popular HTML, CSS, and JavaScript Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div>
                Bootstrap is a free, open course and is the most popular HTML, CSS, and JavaScript Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div>
                Bootstrap is a free, open course and is the most popular HTML, CSS, and JavaScript Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
</div>
<!-- * i replaced <a> with <div> so its not a link though it looks nicer since there are white thingamajigs
       for some reason that were weird to see-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Bootstrap Image Gallary</h3>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div href="~/images/pier_dock_sea_dusk_shore.jpg" class="img-thumbnail">
                <p>Pier Dock Sea Dusk Shore</p>
                <img src="~/images/pier_dock_sea_dusk_shore.jpg" />
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div href="~/images/portugal-sunrises-and-sunsets.jpg" class="img-thumbnail">
                <p>Portugal Sunrises and Sunsets</p>
                <img src="~/images/portugal-sunrises-and-sunsets.jpg" />
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div href="~/images/red-mountains-fog-reflection.jpg" class="img-thumbnail">
                <p>Red Mountains Fog Reflection</p>
                <img src="~/images/red-mountains-fog-reflection.jpg" />
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div href="~/images/red-sky-morning-winter-snow-bench.jpg" class="img-thumbnail">
                <p>Red Sky Morning Winter Snow Bench</p>
                <img src="~/images/red-sky-morning-winter-snow-bench.jpg" />
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div href="~/images/reflection-of-trees-in-lake-piburger.jpg" class="img-thumbnail">
                <p>Reflection of Trees in Lake Piburger</p>
                <img src="~/images/reflection-of-trees-in-lake-piburger.jpg" />
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div href="~/images/reflections-at-quinag-mountains.jpg" class="img-thumbnail">
                <p>Reflections at Quinag Mountains</p>
                <img src="~/images/reflections-at-quinag-mountains.jpg" />
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div href="~/images/rock-formation-silent.jpg" class="img-thumbnail">
                <p>Rock Formation Silent</p>
                <img src="~/images/rock-formation-silent.jpg" />
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div href="~/images/rocks-beach-sunrise.jpg" class="img-thumbnail">
                <p>Rocks Beach Sunrise</p>
                <img src="~/images/rocks-beach-sunrise.jpg" />
            </div>
        </div>
    </div>
</div>