<!--
    
    Bootstrap Split Button Dropdown
    -----------------------------------------------------

    Split Button Dropdown: primary action on the left nd the rest of the actions are available as drop
    down menu items on the right
-->
<div class="container">
    <div class="row">
        <div class="col">
            <br />

            <div class="btn-group">
                <button class="btn btn-primary">SQL Server</button>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href=#>C#</a></li>
                    <li><a href=#>ASP.NET</a></li>
                    <li><a href=#>ADO.NET</a></li>
                    <!-- the formatting is off but it works -->
                </ul>
            </div>
        </div>
    </div>
    <br />

    <h5>how to change the size of the split button dropdown</h5>
    <div class="row">
        <div class="col">
            <br />

            <div class="btn-group">
                <!-- added another btn-group <div> so that it is all inline-->
                <div class="btn-group-lg">
                    <button class="btn btn-primary">SQL Server</button>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=#>C#</a></li>
                        <li><a href=#>ASP.NET</a></li>
                        <li><a href=#>ADO.NET</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button class="btn btn-primary">SQL Server</button>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=#>C#</a></li>
                        <li><a href=#>ASP.NET</a></li>
                        <li><a href=#>ADO.NET</a></li>
                    </ul>
                </div>

                <div class="btn-group-sm">
                    <button class="btn btn-primary">SQL Server</button>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=#>C#</a></li>
                        <li><a href=#>ASP.NET</a></li>
                        <li><a href=#>ADO.NET</a></li>
                    </ul>
                </div>

                <div class="btn-group-xs">
                    <button class="btn btn-primary">SQL Server</button>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=#>C#</a></li>
                        <li><a href=#>ASP.NET</a></li>
                        <li><a href=#>ADO.NET</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />

    <h5>how to change the size of the split button dropdown</h5>
    <div class="row">
        <div class="col">
            <br />

            <div class="btn-group">
                <!-- added another btn-group <div> so that it is all inline-->
                <div class="btn-group-lg dropup">
                    <button class="btn btn-primary">SQL Server</button>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=#>C#</a></li>
                        <li><a href=#>ASP.NET</a></li>
                        <li><a href=#>ADO.NET</a></li>
                    </ul>
                </div>

                <div class="btn-group dropup">
                    <button class="btn btn-primary">SQL Server</button>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=#>C#</a></li>
                        <li><a href=#>ASP.NET</a></li>
                        <li><a href=#>ADO.NET</a></li>
                    </ul>
                </div>

                <div class="btn-group-sm dropup">
                    <button class="btn btn-primary">SQL Server</button>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=#>C#</a></li>
                        <li><a href=#>ASP.NET</a></li>
                        <li><a href=#>ADO.NET</a></li>
                    </ul>
                </div>

                <div class="btn-group-xs dropup">
                    <button class="btn btn-primary">SQL Server</button>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=#>C#</a></li>
                        <li><a href=#>ASP.NET</a></li>
                        <li><a href=#>ADO.NET</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- the spacing is off -->
</div>