<!-- 
    Bootstrap 3 Grid Classes 
    ---------------------------------------------------------------------    
    Grid classes for a given screen size apply to that screen size and larger unless another
    declaration overrides it
    

-->
<div>create 4 equal columns on both medium and large devices</div>
<div class="row">
    <div class="col-md-3">
        <div class="customDiv">Column 1</div>
    </div>
    <div class="col-md-3">
        <div class="customDiv">Column 2</div>
    </div>
    <div class="col-md-3">
        <div class="customDiv">Column 3</div>
    </div>
    <div class="col-md-3">
        <div class="customDiv">Column 4</div>
    </div>
</div>

<div>create 4 equal columns on medium device and 2 columns with 3:1 ration on a large device</div>
<div class="row">
    <div class="col-md-3 col-lg-9">
        <div class="customDiv">Column 1</div>
    </div>
    <div class="col-md-3 col-lg-3">
        <div class="customDiv">Column 2</div>
    </div>
    <div class="col-md-3 col-lg-9">
        <div class="customDiv">Column 3</div>
    </div>
    <div class="col-md-3 col-lg-3">
        <div class="customDiv">Column 4</div>
    </div>
</div>

<div>create 2 equal columns on a small device</div>
<div class="row">
    <div class="col-sm-6 col-md-3 col-lg-9">
        <div class="customDiv">Column 1</div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="customDiv">Column 2</div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-9">
        <div class="customDiv">Column 3</div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="customDiv">Column 4</div>
    </div>
</div>

<div>if we remove all the classes but the sm. Small devices and larger will have 2 columns</div>
<div class="row">
    <div class="col-sm-6">
        <div class="customDiv">Column 1</div>
    </div>
    <div class="col-sm-6">
        <div class="customDiv">Column 2</div>
    </div>
    <div class="col-sm-6">
        <div class="customDiv">Column 3</div>
    </div>
    <div class="col-sm-6">
        <div class="customDiv">Column 4</div>
    </div>
</div>

<!-- with these Grid Classes, you have complete control over the layout of your website on diffierent screen sizes -->
